<!-- <div class="col-md-4 offset-md-4 mt-5 card card-body">
    <h4 class="alert text-alert" *ngIf='statusCode === 401'>{{message}}</h4>
    <h4 class="text text-success" *ngIf='statusCode === 200'>{{message}}</h4>
    <form #customerRegisterForm="ngForm" (ngSubmit)=customerRegister(customerRegisterForm)>
        <h3 class="border-bottom">Create Your Account</h3>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" #name="ngModel" ngModel
            class="form-control" pattern="[a-zA-Zs]+\s[a-zA-Z]+$" required >
            <div *ngIf='name.touched && name.invalid'>
                <p class="text text-danger" *ngIf='name.errors.required'>
                    this field is required
                </p>
                <p class="alert text-danger" *ngIf='name.errors.pattern'>
                    *Enter Character only with First Name and Last Name
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" #email="ngModel" ngModel
            class="form-control" pattern="[^@]*@[a-zA-Z]+(.com)" required >
            <div *ngIf='email.touched && email.invalid'>
                <p class="alert text-danger" *ngIf='email.errors.required'>
                    *This field is mandatory
                </p>
                <p class="alert text-danger" *ngIf='email.errors.pattern'>
                    *Enter valid email
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" #password="ngModel" ngModel minlength="8"
            class="form-control"  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" required >
            <div *ngIf='password.touched && password.invalid'>
                <p class="alert text-danger" *ngIf='password.errors.required'>
                    *This field is mandatory
                </p>
                <p class="alert text-danger" *ngIf='password.errors.pattern'>
                    it should contain atleast one uppercase, one lowercase, one digit</p>
                    <p class="alert text-danger" *ngIf='password.errors.minlength'>
                        *Minimum length should be 8
                    </p>
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" name="phoneNumber" id="phoneNumber" #phoneNumber="ngModel" ngModel
            class="form-control" pattern="[6,7,8,9][0-9]{9}" maxlength="10" minlength="10" required >
            <div *ngIf='phoneNumber.touched && phoneNumber.invalid'>
                <p class="alert text-danger" *ngIf='phoneNumber.errors.required'>
                    *This field is mandatory
                </p>
                <p class="alert text-danger" *ngIf='phoneNumber.errors.pattern'>
                    *Phone number starts with 6,7,8,9 and it should be 10 digits
                </p>
            </div>
        </div>
        <div class="float-right">
            <button type="submit" class="btn btn-primary" [disabled]='customerRegisterForm.invalid'>Submit</button>
       </div>
       <div class="float-left">
   <button type="reset" class="btn btn-dark">Reset</button>
   </div>
    </form>
</div> -->

<div class="card bg-light">
<div class="col-md-4 offset-md-4 mt-5 card card-body">
   <h4 class="alert text-alert" *ngIf='statusCode === 401'>{{message}}</h4>
    <h4 class="text text-success" *ngIf='statusCode === 200'>{{message}}</h4>
    <form #customerRegisterForm="ngForm" (ngSubmit)=customerRegister(customerRegisterForm)>
        <h3 class="border-bottom">Create Your Account</h3>
        <div>
            <div class="card ">
                <div class="card-header bg-dark text-white">
                    <div>
                        <h4>REGISTER HERE!!!!</h4>
                    </div>
                </div>
               
                
                <div class="card-body col-md-12 bg-light">
                    <div class="form-group">
                        <label for="name">USER NAME</label>
                        <input type="text" name="name" required class="form-control" #name='ngModel' ngModel
                            placeholder="Enter user name" class="form-control mb-3" pattern="[a-zA-Zs]+\s[a-zA-Z]+$">
                        <div *ngIf='name.touched && name.invalid'>
                            <p class="alert alert-danger" *ngIf='name.errors.required'>
                                Input field is mandatory
                            </p>
                            <p class="alert alert-danger" *ngIf='name.errors.pattern'>
                                Input should be characters only, and First and Last Name
                            </p>

                        </div>
                    </div>
                    
                        <div class="form-group">
                            <label for="email">EMAIL ID</label>
                            <input type="email" name="email" required class="form-control" #email='ngModel' ngModel
                                email placeholder="Enter email id" class="form-control mb-3">
                            <div *ngIf='email.touched && email.invalid'>
                                <p class="alert alert-danger" *ngIf='email.errors.required'>
                                    Input field is mandatory
                                </p>
                                <p class="alert alert-danger" *ngIf='email.errors.email'>
                                    Input should be email only
                                </p>
                            </div>
                        
                        
                        <div class="form-group">
                            <label for="phoneNumber">MOBILE NO</label>
                            <input type="text" name="phoneNumber" required class="form-control" #phoneNumber='ngModel' ngModel
                                placeholder="Enter phone no" class="form-control mb-3" pattern="^[6-9]\d{9}">
                            <div *ngIf='phoneNumber.touched && phoneNumber.invalid'>
                                <p class="alert alert-danger" *ngIf='phoneNumber.errors.required'>
                                    This Field is mandatory
                                </p>
                                <p class="alert alert-danger" *ngIf='phoneNumber.errors.pattern'>
                                    Mobile number should be starting from 6 to 9 ,it accept 10 digit only
                                </p>

                            </div>
                       
                    </div>
                    </div>
                  
                        
                        <div class="form-group">
                            <label for="password">PASSWORD</label>
                            <input type="password" name="password" required class="form-control" #password='ngModel'
                                ngModel placeholder="Enter password" class="form-control mb-3"
                                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,15}$">
                            <div *ngIf='password.touched && password.invalid'>
                                <p class="alert alert-danger" *ngIf='password.errors.required'>
                                    This field is mandatory
                                </p>
                                <p class="alert alert-danger" *ngIf='password.errors.pattern'>
                                    Enter 8 to 15 length password having altleast one capital letter ,one small
                                    letter, one digit and no space
                                </p>
                            </div>
                           
                        </div>
                   
                </div>
            </div>
            <div class="card-footer bg-light">
                <button class="btn btn-outline-primary float-right" [disabled]='customerRegisterForm.invalid' type='submit'>REGISTER</button>
                <button class="btn btn-dark " type='reset'>RESET</button>
            </div>
        </div>
    </form>
</div>
</div>
